.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-block: 3vw;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 55vw;
  z-index: 1;
}

.formGroupRequired {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1vw;
}

.formGroupOptional {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1vw;
}

.formGroupButton {
  display: flex;
  justify-content: end;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.nameAndEmail {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.phoneAndCpfAndBirth {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.field {
  width: 200px;
  height: 40px;
}

.fieldAll {
  composes: field;
  width: 100%;
}

.errorMessage {
  color: #ff6666;
  font-size: 0.7vw;
}
