.container {
  display: flex;
  justify-content: end;
}

.group {
  margin-right: 6vw;
  margin-top: 7vh;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 50%;
  z-index: 1;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 5vw;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 1vw;
}

.infoItem {
  width: 100%;
}
